<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-class="{active: start.tab === 'create'}"><a ng-click="start.tab = 'create'">Create New Game</a></li>
            <li role="presentation" ng-class="{active: start.tab === 'join'}"><a ng-click="start.tab = 'join'">Join Existing Game</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active row" ng-if="start.tab === 'create'">
              <form name="form">
                <div class="col-xs-6 form-group">
                    <label>Number of Players</label>
                    <input class="form-control" name="players" type="number" ng-init="start.create.numPlayers=3" min=2 max=5 ng-model='start.create.numPlayers' ng-model-options="{ updateOn: 'blur' }" required/>
                    <div ng-messages="form.players.$dirty && form.players.$error" style="color:red" role="alert">
                        <div ng-message="required">Please enter a value for this field.</div>
                        <div ng-message="number">You did not enter a valid number.</div>
                        <div ng-message="min">A game has to have at least 2 players.</div>
                        <div ng-message="max">No more than 5 players are allowed to play.</div>
                    </div>
                </div>
                <div class="col-xs-6 form-group">
                    <label>Number of Dice</label>
                    <input class="form-control" name="dice" type="number" ng-init="start.create.numDice=5" min=2 max=5 ng-model='start.create.numDice' ng-model-options="{ updateOn: 'blur' }" required/>
                    <div ng-messages="form.dice.$dirty && form.dice.$error" style="color:red" role="alert">
                        <div ng-message="required">Please enter a value for this field.</div>
                        <div ng-message="number">You did not enter a valid number.</div>
                        <div ng-message="min">Each player must have at least 2 dice.</div>
                        <div ng-message="max">Players can have a max of 5 dice.</div>
                    </div>
                </div>
              </form>
            </div>
            <div class="tab-pane active" ng-if="start.tab === 'join'">
                <div class="form-group">
                    <label>Game ID</label>
                    <input class="form-control" type="string" ng-model='start.join.gameId' />
                </div>
            </div>
            <div class="row">
                <button class="btn btn-default pull-right margin-md-right" ng-disabled="start.isInvalid()" ng-click="start.submit()">Submit</button>
            </div>
        </div>
    </div>
</div>
