<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-class="{active: start.tab === 'create'}"><a ng-click="start.tab = 'create'">Create New Game</a></li>
            <li role="presentation" ng-class="{active: start.tab === 'join'}"><a ng-click="start.tab = 'join'">Join Existing Game</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active row" ng-if="start.tab === 'create'">
                <div class="col-xs-6 form-group">
                    <label>Number of Players</label>
                    <input class="form-control" type="number" min=2 max=5 ng-model='start.create.numPlayers' />
                </div>
                <div class="col-xs-6 form-group">
                    <label>Number of Dice</label>
                    <input class="form-control" type="number" min=2 max=5 ng-model='start.create.numDice' />
                </div>
            </div>
            <div class="tab-pane active" ng-if="start.tab === 'join'">
                <div class="form-group">
                    <label>Game ID</label>
                    <input class="form-control" type="string" ng-model='start.join.gameId' />
                </div>
            </div>
            <div class="row">
                <button class="btn btn-default pull-right margin-md-right" ng-disabled="start.isInvalid()" ng-click="start.submit()">Submit</button>
            </div>
        </div>
    </div>
</div>
