<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref=".home">Liar's Dice</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li ng-show="header.isOnGamePage() || !header.isPlayingGame()"><a ui-sref=".home"><i class="fa fa-map-o"></i> Rules</a></li>
            <li ng-show="!header.isOnGamePage() && header.isPlayingGame()"><a ui-sref=".game"><i class="fa fa-play"></i> Resume Game</a></li>
            <li ng-show="!header.isPlayingGame()"><a ui-sref=".start"><i class="fa fa-sign-in"></i> Start Game</a></li>
            <li ng-show="header.isPlayingGame()"><a ng-click="header.exitGame()" ui-sref=".home"><i class="fa fa-sign-out"></i> Exit Game</a></li>
        </ul>
    </div>
</nav>
