.margin-xl-top {
  margin-top: 40px;
}

.margin-lg-top {
  margin-top: 20px;
}

.margin-md-top {
  margin-top: 15px;
}

.margin-sm-top {
  margin-top: 5px;
}

.margin-xl-bottom {
  margin-bottom: 40px;
}

.margin-lg-bottom {
  margin-bottom: 20px;
}

.margin-md-bottom {
  margin-bottom: 15px;
}

.margin-sm-bottom {
  margin-bottom: 5px;
}

.margin-xl-left {
  margin-left: 40px;
}

.margin-lg-left {
  margin-left: 20px;
}

.margin-md-left {
  margin-left: 15px;
}

.margin-sm-left {
  margin-left: 5px;
}

.margin-xl-right {
  margin-right: 40px;
}

.margin-lg-right {
  margin-right: 20px;
}

.margin-md-right {
  margin-right: 15px;
}

.margin-sm-right {
  margin-right: 5px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.nav-tabs {
    margin-bottom: 0;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  background-color: #ccffcc;
}

.vertical-line {
    border-left: 1px solid #ddd;
}

.die-face {
  margin: 5px;
}

.red-player {
  color: red;
}

.green-player {
  color: green;
}

.blue-player {
  color: blue;
}

.purple-player {
  color: purple;
}

.orange-player {
  color: orange
}
